<a href="https://colab.research.google.com/github/DevAdedeji/Data-Analysis-With-Python/blob/main/Mock_up.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from datetime import datetime
from datetime import date
import pandas as pd

##To get time

In [ ]:
date = datetime.now()
Time = date.strftime("%H:%M:%S")

#To get the day, month and year

In [ ]:
date_today = date.today()
Year = date_today.year
Month = date_today.month
Day = date_today.day

##Asking for informations

In [ ]:
goods = input("Name of goods bought: ")
quantity = float(input("Quantity Ordered: "))
price = float(input("Price Each: "))
sales = quantity * price

Name of goods bought: Pencil
Quantity Ordered: 5
Price Each: 20

##To save in a dataframe

In [ ]:
df = pd.DataFrame(
   {
    "Time" : [Time],
    "Day": [Day],
    "Month": [Month],
    "Year":[Year],
    "Name_Goods":[goods],
    "Quantity_ordered": [quantity],
    "Price Each": [price],
    "Sale": [sales]
   }
)

In [ ]:
df

       Time  Day  Month  Year Name_Goods  Quantity_ordered  Price Each   Sale
0  23:42:59    7      3  2021     Pencil               5.0        20.0  100.0

In [ ]:
old_df = pd.DataFrame({
    "Time" : [Time],    "Day": [Day],
    "Month": [Month],
    "Year":[Year],
    "Name_Goods":["Eraser"],
    "Quantity_ordered": [1],
    "Price Each": [50],
    "Sale": [sales]})
old_df

       Time  Day  Month  Year Name_Goods  Quantity_ordered  Price Each   Sale
0  23:42:59    7      3  2021     Eraser                 1          50  100.0

In [ ]:
New_df = old_df.append(df, ignore_index = True)
New_df

       Time  Day  Month  Year Name_Goods  Quantity_ordered  Price Each   Sale
0  23:42:59    7      3  2021     Eraser               1.0        50.0  100.0
0  23:42:59    7      3  2021     Pencil               5.0        20.0  100.0

In [20]:
New_df.to_csv("new_mock_up.csv")